@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        @apply text-base text-black;
    }
    h1, .h1 {
        @apply text-2xl xl:text-3xl font-medium;
    }

    h2, .h2 {
        @apply text-xl xl:text-2xl font-medium;
    }

    h3, .h3 {
        @apply text-lg xl:text-xl font-medium;
    }

    h4, .h4 {
        @apply text-lg xl:text-xl font-medium;
    }

    h5, .h5 {
        @apply text-lg font-medium;
    }

    h6, .h6 {
        @apply text-base font-medium;
    }

    p, .p {
        @apply text-base;
    }

    .link {
        @apply underline decoration-gray-300 text-gray-500 hover:text-primary
            hover:no-underline;
    }
    .text-primary {
        @apply text-purple-600;
    }
    .bg-primary {
        @apply bg-purple-900;
    }
    .border-primary {
        @apply border-purple-600;
    }
    .rounded-primary {
        @apply rounded-lg;
    }
    .page-layout {
        @apply mx-auto max-w-6xl space-y-4 lg:space-y-8;
    }
    .list-ul {
        @apply list-disc list-inside text-sm space-y-1 pl-1;
    }
}

@layer components {
    .btn {
        @apply cursor-pointer flex items-center justify-center gap-x-2.5;
        @apply rounded-primary px-6 h-12 text-white whitespace-nowrap;
        @apply hover:opacity-90 transition-all duration-75 ease-in;
        @apply focus-visible:outline focus-visible:outline-2
            focus-visible:outline-offset-2;
    }
    .btn-sm {
        @apply h-9 px-4;
    }
    .btn[disabled], fieldset[disabled] .btn {
        @apply cursor-not-allowed opacity-50 pointer-events-none shadow-none
            hover:opacity-100;
    }

    .btn-primary {
        @apply bg-primary text-purple-50;
    }
    .btn-primary-outline {
        @apply border border-purple-900 text-purple-900 hover:bg-purple-800
            hover:text-purple-100 focus-visible:outline-purple-800;
    }

    .btn-danger {
        @apply border border-red-600 bg-red-600 text-red-50 hover:bg-red-700
            hover:text-red-50 focus-visible:outline-red-700;
    }
    .btn-danger-outline {
        @apply border border-red-600 text-red-600 hover:bg-red-700
            hover:text-red-50 focus-visible:outline-red-700;
    }

    .btn-warning {
        @apply border border-orange-600 bg-orange-600 text-orange-50
            hover:bg-orange-700 hover:text-orange-50
            focus-visible:outline-orange-700;
    }
    .btn-warning-outline {
        @apply border border-orange-600 text-orange-600 hover:bg-orange-700
            hover:text-orange-50 focus-visible:outline-orange-700;
    }
    .btn-success {
        @apply border border-green-700 bg-green-700 text-green-50
            hover:bg-green-700 hover:text-green-50
            focus-visible:outline-green-700;
    }
    .btn-success-outline {
        @apply border border-green-700 text-green-700 hover:bg-green-700
            hover:text-green-50 focus-visible:outline-green-700;
    }

    .btn-icon {
        @apply px-0 w-12;
    }

    .btn-link {
        @apply text-primary hover:underline inline-flex items-center gap-x-1.5;
    }

    .btn-input-icon {
        @apply size-9 shrink-0 inline-flex items-center justify-center
            whitespace-nowrap rounded-md text-sm;
        @apply font-medium transition-colors text-gray-800;
        @apply disabled:opacity-50;
        @apply hover:bg-gray-100 hover:text-black;
    }

    .checkbox {
        @apply size-5 border-gray-400 rounded;
        @apply text-purple-900 focus:ring-transparent;
    }

    .radio {
        @apply size-4 border-gray-300 text-purple-900 focus:ring-purple-900;
    }

    .input {
        @apply block w-full h-12 rounded-primary border border-gray-300
            text-gray-900;
        @apply placeholder:text-gray-500;
        @apply focus:border-purple-600 focus:ring-1 focus:ring-inset
            focus:ring-transparent;
    }

    .select {
        @apply input;
    }

    .textarea {
        @apply block w-full min-h-24 rounded-primary border border-gray-300
            text-gray-900;
        @apply placeholder:text-gray-500;
        @apply focus:border-purple-600 focus:ring-1 focus:ring-inset
            focus:ring-transparent;
    }

    .label {
        @apply block text-black text-sm font-medium;
    }

    .card {
        @apply rounded-primary border border-gray-200 bg-white;
    }
    .card-body {
        @apply px-4 py-6 sm:p-8;
    }
    .card-header {
        @apply flex items-center justify-between border-b border-gray-200 px-4
            py-4 sm:px-8;
    }
    .card-footer {
        @apply flex flex-wrap items-center gap-4 border-t border-gray-200 px-4
            py-4 sm:px-8;
    }
}
